.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.7s ease;
}

.logo.sticky {
  position: fixed;
  top: -20%;
  left: 50%;
  transform: translateX(-50%);
}

.logo-image {
  width: 35vw;
  height: auto;
}

@media (max-width: 768px) {
  .logo-image {
    width: 80vw;
  }

  .logo.sticky {
    top: -2vh;
  }
}
